server:
  port: 8083

spring:
  application:
    name: RATING-SERVICE  # MUST match gateway lb://RATING-SERVICE

  config:
    import: optional:configserver:http://localhost:8888/

  datasource:
    url: jdbc:h2:mem:rating-db
    driverClassName: org.h2.Driver
    username: sa
    password: 123456

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  h2:
    console:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
